* {
    margin: 0;
    padding: 0;
}

.wrap
 {
     width: 300px;
     height: 300px;
     margin: 2rem;
     perspective: 800px;
 }

.box {
    width: 300px;
    height: 300px;
    /* transform: rotateY(30deg); */
    /* border-radius: 50%; */
    background-color: #000;
    position: relative;
    transition: 1s;
    /* ner, hugatsaa, torol, davtamj */
}

.box .board {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    transform: rotate(-9deg);
    border: 1px solid #fff;
    background-image: conic-gradient(
        black 0% 5%, 
        white 5% 10%,
        black 10% 15%, 
        white 15% 20%,
        black 20% 25%, 
        white 25% 30%,
        black 30% 35%, 
        white 35% 40%,
        black 40% 45%, 
        white 45% 50%,
        black 50% 55%, 
        white 55% 60%,
        black 60% 65%, 
        white 65% 70%,
        black 70% 75%, 
        white 75% 80%,
        black 80% 85%, 
        white 85% 90%,
        black 90% 95%, 
        white 95% 100%
    );
}

.board.inner {
    transform: rotate(-18deg);
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board.number {
    transform: rotate(-18deg);
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

.board.inner .bulls {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}


.board.inner .bulls__eye {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}


.wrap:hover .box {
    animation: ergelt 1.5s linear infinite;
}
/* Gradient */

/* UX, UI */
/* 
   UX - User Experience
   UI - User Interface

   Animation
*/

@keyframes ergelt {
    0% {
        transform: rotateY(0);
        background-color: black;
    }

    50% {
        transform: rotateY(180deg);
        background-color: yellow;
    }

    100% {
        transform: rotateY(360deg);
        background-color: black;
    }
}